logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

circuits/circom/*/*.json
!circuits/circom/*/package.json
circuits/circom/*/build
circuits/circom/*/*_js
*.ptau
*.r1cs
*.sym
*.zkey
circuits/**/**/*.zkey
server/data/*.zkey

target
test_snapshots/
.soroban
.stellar
node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/.toml-cache/*
**/.uploads/*
*.sqbpro

.env
vite.config.js
*.data.json
*.db
*.db-*
*.db-shm
v1*
tmp
*rsa
*rsa.pub
*local.md
